$playerNamePadding: 12px;
$playerNameWidth: 350px;
$probWidth: 300px;

#players-table {
    width: $playerNameWidth + $playerNamePadding * 2 + $probWidth;
    .player-name {
        width: $playerNameWidth + $playerNamePadding * 2;
        padding: $playerNamePadding;
        > div {
            width: $playerNameWidth;
        }
    }
}
